body {
  background-color:black;
  font-family:arial;
  font-weight:bold;
  width: 50%;
  color:black;
  margin:0 auto;
  padding:5px;
  text-align:left;
  font-size:20px;
  font-family:sans-serif;
}
h1{
  font-family:verdana;
  color:gray;
  font-size:35px;
}
.maindiv{
	background-color:white;
	color:black;
	width:65%;
	padding:20px;
	border-radius:25px;
	border-style:solid;
	border-color:black;
	margin-left:auto;
	margin-right:auto;
}
table{
	display:flex;
	align-items:center;
	justify-content:center;
	width:95%;
}
.result{
	background-color:yellow;
}